@font-face {
  font-family: 'Scientifica';
  src: url('./scientifica.ttf')  format('truetype')
}
:root {
  --dark: #1c1c1c;
  --light: #efefef;
}
body {
  font-family: 'Scientifica', Fallback, 'Times New Roman', Times, serif;
  background-color: var(--dark);
  color: var(--light);
}
.flex {
  display: flex;
}

.icon-image {
  width: 4em;
  height: 4em;

  animation-duration: 0.5s;
  animation: 0.5s ease-out;
}

.icon-image:hover{
  animation-name: hover;
}
.icon-image:active {
  filter: brightness(150%);
}

@keyframes hover {
  50% {width: 4em; height: 4em;}
  0% {width: 3.5em; height: 3.5em;}
  100% {width: 4em; height: 4em;}
}